<!DOCTYPE html>
<html>
<head>
<title>Comunidades</title>

<style>

body{
font-family:Poppins;
background:#fbbcbf;
text-align:center;
}

.comunidades{
display:flex;
flex-direction:column;
gap:20px;
width:250px;
margin:auto;
margin-top:100px;
}

button{
padding:15px;
border:none;
border-radius:20px;
font-size:18px;
cursor:pointer;
}

</style>

</head>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="/static/chat.js"></script>
<body>

<h2>Selecciona comunidad</h2>

<div class="comunidades">

<button onclick="entrar('general')">💬 General</button>
<button onclick="entrar('gatos')">🐱 Gatos</button>
<button onclick="entrar('gaming')">🎮 Gaming</button>
<button onclick="entrar('programacion')">💻 Programación</button>

</div>

<script>

function entrar(nombre){

window.location="/chat/"+nombre

}

</script>

</body>
</html>